$margin-samping	: 370px;
$margin-kiri	: 230px;
$margin-nav		: 30px;
$margin-atas	: 5px;
$color-back		: #EEEEEE;
$color-merah	: #D9272D;
$color-hitam	: #000000;
$color-abu		: #909191;
$color-harga	: #3E3F3F;
$font-nav		: 13px;
$lebar-tengah	: 900px;
$tengah-x		: 0 auto;