.menu  {
	background-color: $color-hitam;
	width: 100%;
	height: 40px;
	text-transform: uppercase;

	ul  {
		@extend %posisitengah;
		width: 700px / $lebar-tengah * 100%;

		li  {
			font-size: $font-nav;
			margin-left: $margin-nav;
			padding: 10px;
			display: inline-block;
			color: #fff;

			a  {
				@extend %linkbiasa;
				color: #fff;
				&:hover  {
					color: $color-merah;
					@extend %linkbiasa;
				}

				&:active  {
					color: $color-merah;
					@extend %linkbiasa;
				}
			}
		}
	}
}