section	{
	font-size: $font-nav;
	background-color: #E2E4E8;
	width: 100%;
	height: 40px;
	display: inline-block;

 .search	{
	margin-left: $margin-kiri;
	margin-top: $margin-atas;
	color: $color-merah;
	border  : 1px solid $color-merah;
	border-radius: 5px;
	padding: 5px;
	font-size: 15px;
	background-color: #C9C9C9;
	width: 200px;
	height: 20px;
	display: inline-block;

	  i  {
	  	padding-left: 90px;
	  	color: $color-merah;
	  	font-size: 15px;
	  	display: inline-block
	  }
 }

  .fafa {
  	margin-right: 300px;
  	color: $color-merah;
  	float: right;
  	font-size: 24px;
  	padding: 8px;
  	display: inline-block;
  }
}
